#newsletter-container {
background: #595959;
padding: 27px 0;
}

#newsletter-container h3 {
font-size: 25px;
line-height: 46px;
color: #444b4c;
text-transform: uppercase;
margin: 0;
float: left;
}

.parti h3 {
font: 19px/38px Arial,sans-serif;
margin: 50px 0 20px;
color: #e3e3e3;
text-transform: uppercase;
}

#newsletter-container form {
position: relative;
}

#newsletter-container input[type=email] {
height: 46px;
width: 300px;
vertical-align: top;
margin-right: 5px;
border-radius: 4px;
border: none;
background: #CFCECE;
line-height: 20px;
padding: 5px 10px 5px 20px;
color: #727b7c;
}

input, select, textarea {
outline: 0;
}

.btn-custom-3 {
color: #fff;
background: #282828;
border: none;
width:165px;
height:45px;
font-size:14px;
font-weight: bolder;
}
.btn-custom-4 {
color: #fff;
background: #ffbf00;
border: none;
width:300px;
height:65px;
font-size:18px;

}

::selection {
background-color: #7bae23;
color: #fff;
}

.contact{
	background-color:  	#C0C0C0;
	border:none;

}

.zoom_img{

height:200px;
width:200px;
-moz-transition:-moz-transform 0.5s ease-in; 
-webkit-transition:-webkit-transform 0.5s ease-in; 
-o-transition:-o-transform 0.5s ease-in;
}
.zoom_img:hover{
-moz-transform:scale(2); 
-webkit-transform:scale(2);
-o-transform:scale(2);
}


input.contact[type=email]{
	color: black;
	padding-left: 20px;
	font-size: 20px;
}
input.foot[type=email]{
	color: white;
	padding-left: 20px;
	font-size: 12px;
}

input.contact[type=text]{
	color: black;
	padding-left: 20px;
	font-size: 20px;

}

#map {
        width: 500px;
        height: 400px;
      }




 .greyshade{
	 color: #595959;
 }




.wide-bg {
	height:100%;
	width:100%;


}
.fill-banner {

	max-width: 100%;
	max-height: 100%;
    z-index: -1;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.fill-banner img {
	width:100%;
	height: 100%;
}




.project-pictures a::before,
.project-pictures a span,
.portfolio-picture a::before,
.portfolio-picture a span,
.one-page-arrow {
	transition: all 0.25s ease-in-out 0s;
}



.portfolio-picture a {
	position: relative;
}

.footer-photos a span,
.project-pictures a span,
.portfolio-picture a span {
	position: absolute;
	top: 0;
	color: #fff;
	display: block;
	width: 100%;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	font-size: 16px;
	top: 100%;
}

.footer-photos a:hover span,
.project-pictures a:hover span,
.portfolio-picture a:hover span {
	opacity: 1;
	visibility: visible;
	top: 50%;
}

.footer-photos a:hover span,
.project-pictures a:hover span {
	margin-top: -8px;
}

#portfolio-pictures a:hover span {
	margin-top: -6px;
}


.project-pictures img,
#portfolio-pictures img {
	border-radius: 4px;
	display: block;
	width: 100%;
}


.project-pictures a::before,
.portfolio-picture a::before {
	content: "";
	width: 100%;
	position: absolute;
	height: 100%;
	background: none repeat scroll 0% 0% rgba(0, 0, 0, .75);
	left: 0px;
	opacity: 0;
	visibility: hidden;
	border-radius: 4px;
}

.project-pictures a:hover::before,
.portfolio-picture a:hover::before {
	opacity: 1;
	visibility: visible;
}

/*
==========================================================================
12. PORTFOLIO PAGE
==========================================================================
*/

#portfolio-pictures {
	padding-top: 90px;
	padding-bottom: 90px;
}

.portfolio-picture a {
	display: block;
}

.portfolio-picture {
	margin-bottom: 30px;
}

.featured-portfolio-picture,
.featured-portfolio-picture img {
	height: 372px;
}



#portfolio-pictures a span.portfolio-picture-name {
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

.projects-hidden {
	display: none;
}

.follow_foot{
	text-align:center;
	width:140px;
	height:40px;
}

.contact_foot{
	text-align:justify;
	width:250px;
	height:20px;
	padding-left: 40px;
}

.menu-items {
	font-size: 18px;
	color:#ffffff;
	font-family: 'Roboto', sans-serif;

}

.home-text{
	font-size: 36px;
	color:#ffffff;
}

#rock1 {
    
    background-repeat: no-repeat;
}

#rock2 {
    background-image: url("../img/hp_icons-10.png");
    background-repeat: no-repeat;
}

.nav-pills {
        display: flex;
        justify-content: center;
        -webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
 }

.tabs-btn{
       height:35px;border:none;

 }
 .tabs-btn:hover,
 .tabs-btn:focus{

 }  

 .pills-test{
 	width:138px;
	 height:41px;
 	font-size:14px;
 	text-align:center;
 	font-family: 'Roboto', sans-serif;
 	border-style: solid;
 	border-width: 1px;
 }

.pills-text{
 font-size:14px;color:gray;font-size: 14px;
}

.small-line{
	border: none;
	height: 1px; 
	color: #595959; 
	background-color: #595959; 
	width:10%
}

.foot-size{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	color: #b3b3b3;
}

.foot-size-bold{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
	color: white;
}

.bg-gradient {
	background: linear-gradient(white, #e6e6e6);

	
}
.intro {
	display: table;
	width: 100%;
	max-height: 100%;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background: url(../img/home/bg_header.jpg) no-repeat bottom center scroll;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.intro .intro-body {
	display: table-cell;
	vertical-align: middle;
}

.intro .intro-body .brand-heading {
	font-size: 40px;
}

.intro .intro-body .intro-text {
	font-size: 18px;
}

@media(min-width:768px) {
	.intro {
		height: 100%;
		padding: 0;
	}

	.intro .intro-body .brand-heading {
		font-size: 100px;
	}

	.intro .intro-body .intro-text {
		font-size: 26px;
	}
}

.btn-circle {
	width: 70px;
	height: 70px;
	margin-top: 500px;
	padding: 7px 16px;
	border: 2px solid #fff;
	border-radius: 100%!important;
	font-size: 40px;
	color: #fff;
	background: 0 0;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
	outline: 0;
	color: #fff;
	background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-moz-keyframes pulse {
	0% {
		-moz-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-moz-transform: scale(1.2);
		transform: scale(1.2);
	}

	100% {
		-moz-transform: scale(1);
		transform: scale(1);
	}
}

.news_block{
        background-color: #ffffff;
        margin-left: 20px;
        height: 645px;
        width: 360px;
    }

.btn-xlarge {
    padding: 18px 50px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}

.just{
	text-align: justify;
}




